@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sirin+Stencil&display=swap');
a {
  color: black !important;
  font-family: 'Sirin Stencil', cursive;
  
}

.profile-icon{
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-right: 5px;
  vertical-align: middle;
}

.collection-item {
  float: none !important;
  font-size: larger;
}

* {
  font-family:'Roboto', sans-serif;
}


.brand-logo, h5 {
  font-family: 'Sirin Stencil', cursive;
}

.mycard {
  margin-top: 30px;
}

.auth-card {
  padding: 20px;
  text-align: center;
  width: 35vw;
  max-width: 450px;
  margin: 2rem auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
  border-radius: 1rem;
}

.userName {
  margin-left: 1rem;
  margin-top: 1rem;
}

.profile-div{
  max-width: 69vw;
  margin: 0 auto;
}

.home-card {
  max-width: 55vw;
  height: max-content;
  margin: 26px auto;
}
@media screen and (max-width: 1000px) {
  .hide-when-mobile{
    display: none !important;
  }
}
@media screen and (max-width: 1200px) {
  .home-card {
    max-width: 75vw;
    height: max-content;
    margin: 26px auto;
  }
  .item{
    width: 45%;
  }
  .profile-div{
    max-width: 85vw;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .home-card {
    max-width: 95vw;
    height: max-content;
    margin: 26px auto;
  }
  .profile-div{
    max-width: 95vw;
    margin: 0 auto;
  }
  .item{
    width: 90%;
    margin: 2rem;
  }
}



#toasts-container {
  top: 2rem !important;
  right: 3rem !important;
  left: auto !important;
}